.proc {
    background-color: #E0EAF8;
    padding: 0 2rem 2rem;
    margin: 3.2rem 4rem 2rem 0;
    display: block;
}

.proc-heading {
    background: #9DBCEB;
    padding: 0.6em 1.7em;
    font-weight: 600;
    font-size: 1em;
    top: -17px;
    left: -32px;
    display: inline-block;
    position: relative;
}

.proc p {
    
}